
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 40px;
    gap: 20px;
}

form input {
    width: 400px;
    height: 30px;
    text-align: center;
    font-size: 15px;
}

form button {
    width: 200px;
    height: 40px;
    background: blue;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    transition: 0.4s;
}

form button:hover {
    background: #fff;
    color: blue;
    border: 1px solid blue;
}